a.button{
	text-indent:-10000px;
	display:inline-block;
	vertical-align:middle;
	background:url('../images/alertingsprite.png') top left no-repeat;
}

a.status{
	width:30px;
	height:16px;
	background:url('../images/alertingsprite.png') top left no-repeat;
}

a.status.on{
	background-position: 0px -21px;
}
a.status.off{
	background-position: -31px -21px;
}








a.triangle{
	height:11px;
	width:11px;
	background-position: -115px -2px;
}
a.triangle:hover{
	background-position: -129px -2px;	
}
a.triangle.open{
	background-position: -154px -2px;
}
a.triangle.open:hover{
	background-position: -141px -2px;
}







a.square{
	width:15px;
	height:17px;
	background-position: -94px 0px;
}
a.square.open{
	background-position: -77px 0px;
}





a.mainNav{
	float:left;
	height:49px;
}

/** main nav link widths **/
a.mainNav.createLink,
a.mainNav.searchLink{
	width:143px;
}
a.mainNav.dashboardLink{
	width:164px;
}


/** create link **/
a.mainNav.createLink{
	background-position: 0px -41px;
}
a.mainNav.createLink:hover{
	background-position: 0px -92px;
}
a.mainNav.createLink.active{
	background-position: 0px -143px;
}



/** dashboard link **/
a.mainNav.dashboardLink{
	background-position: -143px -41px;
}
a.mainNav.dashboardLink:hover{
	background-position: -143px -92px;
}
a.mainNav.dashboardLink.active{
	background-position: -143px -143px;
}



/** search link **/
a.mainNav.searchLink{
	background-position: -307px -41px;
}
a.mainNav.searchLink:hover{
	background-position: -307px -92px;
}
a.mainNav.searchLink.active{
	background-position: -307px -143px;
}








a.builder{
	width:16px;
	height:16px;
	margin:0px !important;
	line-height:1.0em;
	display:inline-block;
	vertical-align:middle;
	border:solid 0px #ddd;
}


a.remove{
	background-position: -15px -2px;
}
a.add{
	background-position: -35px -2px;
}
a.addBlock{
	background-position: -55px -2px;	
}








/** tags **/
a.addTag,
a.addTagSearch{
	width:16px;
	height:16px;
	margin:0px !important;
	line-height:1.0em;	
	vertical-align:middle;
	background-position: -35px -2px;
}

a.tags{
	height:13px;
	width:13px;
	background-position: 0px -6px;
}







/** action buttons **/
a.save,
a.cancel,
a.delete{
	height:17px;
	width:42px;
}
a.save{
	width:36px;
	background-position: -107px -20px;
}
a.cancel{
	background-position: -62px -20px;
}
a.delete{
	background-position: -144px -20px;
}




a.subscribe,
a.unsubscribe{
	height:17px;
	width:78px;
}
a.subscribe{
	background-position: -230px -20px;
}
a.unsubscribe{
	background-position: -308px -20px;
}


