.buttons {
  margin: 30px auto;
  text-align: center; }

.button {
  color: #fff;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0.02em;
  display: inline-block;
  text-decoration: none;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.button.large {
  font-size: 16px;
  margin: 40px 10px;
  padding: 10px 15px 10px 15px; }

.button.small {
  font-size: 10px;
  margin: 0px 7px;
  padding: 3px 7px; }

.button.green {
  text-shadow: 1px 1px 1px #367b27;
  border-bottom: 1px solid #367b27;
  background: #4e983d;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #4e983d 0%, #58ab3c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e983d), color-stop(100%, #58ab3c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4e983d 0%, #58ab3c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4e983d 0%, #58ab3c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4e983d 0%, #58ab3c 100%);
  /* IE10+ */
  background: linear-gradient(top, #4e983d 0%, #58ab3c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green-top', endColorstr='$green-bottom',GradientType=0 );
  /* IE6-9 */ }

.button.blue {
  text-shadow: 1px 1px 1px #01488a;
  border-bottom: 1px solid #01488a;
  background: #1f70bb;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #1f70bb 0%, #2e81cc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f70bb), color-stop(100%, #2e81cc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1f70bb 0%, #2e81cc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1f70bb 0%, #2e81cc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1f70bb 0%, #2e81cc 100%);
  /* IE10+ */
  background: linear-gradient(top, #1f70bb 0%, #2e81cc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-top', endColorstr='$blue-bottom',GradientType=0 );
  /* IE6-9 */ }

.button.red {
  text-shadow: 1px 1px 1px #a73601;
  border-bottom: 1px solid #a73601;
  background: #cb4101;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #cb4101 0%, #da5517 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb4101), color-stop(100%, #da5517));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cb4101 0%, #da5517 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cb4101 0%, #da5517 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cb4101 0%, #da5517 100%);
  /* IE10+ */
  background: linear-gradient(top, #cb4101 0%, #da5517 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red-top', endColorstr='$red-bottom',GradientType=0 );
  /* IE6-9 */ }

.toggle {
  width: 15px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url("../images/sprite.png") -225px -277px no-repeat; }

.toggle.open {
  background-position: -208px -277px; }

/** slider toggle button **/
.ui-slider {
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  box-shadow: inset 1px 1px #01488a !important;
  -moz-box-shadow: inset 1px 1px #01488a !important;
  -webkit-box-shadow: inset 1px 1px #01488a !important;
  background: #1f70bb !important;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #1f70bb 0%, #2e81cc 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f70bb), color-stop(100%, #2e81cc)) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1f70bb 0%, #2e81cc 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1f70bb 0%, #2e81cc 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1f70bb 0%, #2e81cc 100%) !important;
  /* IE10+ */
  background: linear-gradient(top, #1f70bb 0%, #2e81cc 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-top', endColorstr='$blue-bottom',GradientType=0 ) !important;
  /* IE6-9 */ }

.ui-slider-handle {
  height: 24px !important;
  width: 8px !important;
  border: none !important;
  margin-top: -1px;
  background: url("../images/sprite.png") -208px -250px no-repeat !important; }

/**
.ui-slider-handle:hover{
	box-shadow: 0px 1px 1px 3px $highlight-dark !important;
	-moz-box-shadow: 0px 1px 1px 3px $highlight-dark !important;
	-webkit-box-shadow: 0px 1px 1px 3px $highlight-dark !important;
}
**/
.ui-slider-handle.ui-state-active {
  background-position: -218px -250px !important; }
