

.alertingOptionsToggle{
	font-size:9px;
	font-weight:bold;
	color:#79aeae !important;
	padding:0px 15px;
}

.alertingOptions{
	z-index:10;
	padding:5px;
	border:solid 1px #ecebeb;
	position:absolute;
	width:350px;
	background:#f7f7f7;
	border:solid 2px #ecebeb;
	left:15px;
}



.top{
	padding:2px 0px;
	border-bottom:solid 1px #ecebeb;
	background:#f9f9f9;
}



#contentWrapper{
	line-height:1.3em !important;
	text-align:left;
}




.row{
	padding:3px 15px;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #ecebeb;
}


.summary{
	text-align:left;
}

.summary div{display:inline-block; vertical-align:middle;}

.statusWrap{
	width:45px;
	border:solid 0px #ddd;
	padding: 4px 0px 0px 0px;
}


.filterName{
	font-weight:bold;
	font-size:14px;
	width:285px;
	border:solid 0px #ddd;
	padding: 2px 0px 0px 0px;
}

.toggleWrap{
	width:28px;
	text-align:center;
	border:solid 0px #ddd;
}

.spaceBreak{
	width:1px;
	padding:4px 0px 0px 0px;
	margin:0px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
	background:#ecebeb;
	border-right:solid 1px #fff;
}

.alerts{
	width:40px;
	padding-left:5px;
	height:27px;
	padding-top:3px;
	border-right:solid 0px #ddd;
}

.filterAlertTotal{
	font-size:15px;
	font-weight:bold;
	display:block;
	text-align:center;
	margin-bottom:2px;
	border:solid 0px #ddd;
	color:#79aeae;
	text-shadow: 0px 1px 1px #fff;
}

.filterAlertTotal.activity{
	color:#b70e0e;
}

.alertsTitle{
	font-size:8px;
	display:block;
	border:solid 0px #ddd;
	padding:0px;
	text-align:center;
	line-height:1.0em;
	color:#79aeae !important;
}




.filterTags{
	font-size:10px;
	color: #79aeae;
	font-style:italic;
}


.filterDetails{
	color:#535353;
	line-height:1.2em;
}

.filterDetails .left{
	width:360px;
}

.filterDetails .right{
	width:50px;
	text-align:center;
	padding-top:7px;
}
.filterDetails .right a{
	font-size:9px;
}
.filterDetails .right a:hover{
	text-decoration:underline;
}


.justification{
	color:#535353;
}


.filterLinks{
	text-align:right;
}
.filterLinks a{
	font-size:9px;
	margin:0px 5px;
	display:inline-block;
}
.filterLinks a:hover{
	text-decoration:underline;
}



.left{
	float:left;
}
.right{
	float:right;
}



.totalAlertsWrapper{
	padding:7px 15px 4px 15px;
	background:#f2f1f1;
}

.totalAlertsText{
	font-size:9px;
	font-weight:bold;
	color:#2c5959;
	line-height:1.7em;
	text-shadow: 0px 1px 1px #fff;
}
.totalAlertsWrapper .left{
	width:357px;
	text-align:right;
	padding-right:10px;
}

.totalAlertsWrapper .right{
	text-align:center;
	width:45px;
}

.totalAlerts{
	font-size:15px;
	font-weight:bold;
	display:block;
	margin-bottom:2px;
	text-shadow: 0px 1px 1px #fff;	
	color:#b70e0e;	
}

.totalAlertsWrapper a{
	display:block;
}


.totalAlertsWrapper .spaceBreak{
	background:#ddd;
	border-right:solid 1px #f7f7f7;
}

.alertingTimeStartedText{
	font-size:8px;
	color:#888;
}

.alertingTimeStarted{
	font-weight:bold;
	font-size:9px;
	color:#2c5959;
	text-shadow: 0px 1px 1px #fff;
}



