html,body{margin:0px; padding:0px; text-align:center;background:#f9f9f9;}

#container{
	width:450px; 
	padding:0px; 
	margin:0px auto;
	background:#f9f9f9;
	font-size:11px;
	position:relative;
}

#header{
	padding:3px 15px 0px 15px;
	height:28px;
	background:#0d2929;
	border-bottom:solid 1px #030b0b;
	text-shadow:0px 1px 1px #000;
}

.section{
	color:#7aa6a6;
	float:left;
	padding:1px 0px 0px 0px;
	margin:0px;
	text-align:center;
}

.three{
	width:145px;
}
.two{
	width:220px;
}
.pagetitle{
	text-align:left;
	font-size:12px !important;
	text-shadow:0px 1px 1px #000;
	font-weight:bold;
	width:150px;
	padding-top:5px;
}
.mid{
	width:150px;
}
.legalAuth{
	float:right;
}

.details{
	line-height:1.1em;
	font-size:8px;
	border:solid 0px #fff;
	color:#7aa6a6;
}
.details span{
	line-height:1.1em;
	display:block;
}
.head{
	font-size:9px;
	color:#7aa6a6 !important;
}
.date,
.auth{
	color:#fff !important;
	font-weight:normal;
	font-size:9px;
}

.letterSpace{
	letter-spacing:0.07em !important;
}


/** main menu **/
#mainMenu{
	height:49px;
	margin-bottom:0px;
	position:relative;
	background:transparent;
}



.globalNotifier{
	padding-top:11px;
	height:20px;
	width:52px;
	bottom:0px;
	right:170px;
	position:absolute;
	border:solid 0px #ddd;
	color:#fff;
	font-size:15px;
	text-align:center;
	text-shadow: 0px 1px 1px #970404;
	letter-spacing:0.04em;
	padding-left:3px;
	cursor:pointer;
	background:url('../images/alertingsprite.png') -386px -1px no-repeat;
}
.globalNotifier:hover;{
	padding-top:12px;
	height:23px;
}
.alertNotifier{
	top:0px;
	left:0px;
	width:420px;
	z-index:10;
	position:absolute;
	padding:5px 15px 0px 15px;
	height:25px;
	background:#d82222;
	font-weight:bold;
	color:#fff;
	border-bottom:solid 1px #9d0808;
	text-shadow:0px 1px 1px #9d0808;
}



.lineBreak{
	height:1px;
	margin:5px auto;
	background:#ecebeb;
	border-bottom:solid 1px #fff;
}
.lineBreak.dark{
	background:#ddd;
}
.noMarginBotton{
	margin-bottom:0px !important;
}
.noMarginTop{
	margin-top:0px;
}


.textAlignRight{
	text-align:right;
}
.textAlignLeft{
	text-align:left;
}
.textAlignCenter{
	text-align:center;
}

.tag{
	background:#f2f1f1;
	padding:1px 1px 1px 5px;
	border:solid 1px #d6d4d4;
}

.tag em{
	font-weight:normal;
	color:#556767;
	font-size:9px;	
	margin-right:4px;
	letter-spacing:0.05em;
}
