$blue-top : #2e81cc;
$blue-bottom : #1f70bb;
$blue-dark : #01488a;
$blue-link : #2071bc;

$green-bottom : #4e983d;
$green-top : #58ab3c;
$green-dark : #367b27;

$red-bottom : #cb4101;
$red-top  : #da5517;
$red-dark : #a73601;

$highlight : #FEFEE4;

.topbar{
	text-align:right;
	border-top:solid 3px #757575;			
}
.topbar .topcontent{
	width:800px;
	margin:auto;
	text-align:center;
}

.topcontent span{
	font-size:20px;
	font-weight:bold;
	color:#333
}

.topcontent a{
	font-size:9px;
	font-weight:bold;
	color: #fff;
	display:inline-block;
	margin:0px 2px;
	padding:0px 7px 4px 7px!important;
	vertical-align: top;
	line-height: 1.0em !important;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.topcontent a.logout{
	background:$red-top;
	float:right;
	text-shadow: 1px 1px 1px $red-dark;
}
.content{
	width:800px;
	margin:auto;
	text-align:left;
	position:relative;
}
.header{
	text-align:center;
	border-bottom:dashed 1px #ddd;
	width:800px;
	position:relative;
	height:35px;
}

.header .stats{
	float:left;
	text-align:left;
	position:absolute;
	bottom:0px;
	left:0px;
	padding:0px;
	margin-bottom:0px;
}

.header .stats span{
	font-size:14px;
	color:#555;
	display:inline-block;
	margin:0px 10px 0px 0px
}

.header .stats em{
	background:$highlight;
	font-weight:bold;
	font-size:24px;
	color:#333;
}

.header .stats em.scoreWrapper{
	width:50px;
	text-align:center;
	display:inline-block;
	height:100%;
}

.header .stats em.rankWrapper{
	width:50px;
	text-align:center;
	display:inline-block;
}

.header em em{
	margin:auto
}

.header nav{
	float:right;
	text-align:right;
	position:absolute;
	right:0px;
	bottom:0px;
}

.header .usernav a{
	color:#555;
	font-size:11px;
	font-weight:bold;
	margin:0px 0px 0px 3px;
	display:inline-block;
	background:#f8f8f8;
	border:dashed 1px #ddd;
	padding:5px;	
}



.header nav a.active{
	color:#fff;
	text-shadow:0px 1px 1px $blue-dark;
	background:$blue-top;
	border:solid 1px $blue-bottom;
}
a.logo{
	text-indent:-10000px;
	display:inline-block;
	float:left;
	margin:auto;
	background: url('../images/sprite.png') no-repeat;
}

a.logo.micro{
	height:27px;
	width:90px;
	border:solid 0px $red-top;
	background-position: 0px -88px;
}

.content.welcome{
	width:700px;
}

.franklin{
	float:right;
	height:260px;
	width:210px;
	border:solid 0px #ddd;
	margin-top:0px;
	background: url('../images/sprite.png') -205px 0px no-repeat;			
}

h1{
	font-size:28px;
	font-weight:normal;
	margin:20px auto 0px auto;
	text-align:left;
}

p.large{
	font-size:17px;
	line-height:1.5em;
	margin:10px auto 30px auto;
}
p.large em{
	font-size:17px
}


p.large.welcome{
	margin:20px 230px 10px 0px !important;
}



.icon{
	float:right;
	height:215px;
	width:205px;
	margin-left:30px;
	background: url('../images/sprite.png') 0px -120px no-repeat;
}

.notes{
	padding:15px;
	margin-bottom:20px;
	background:#f4f4f4;
	border:solid 1px #efefef;
}
.notes li{
	font-size:14px;
	margin:0px 0px 10px 20px;
}



.welcomelinks{
	text-align:center;
}




.virtues{
	width:42%;
	margin:0px 10px
}

.virtues.right{
	float:right;
}
.virtues.left{
	float:left;
}

.virtue{
	margin:0px 0px 10px 0px
}

.virtue em{
	background:$highlight;
}

.virtue span{
	font-size:10px;
	display:block;
	color:#777;
	margin-left:25px;
}

.logentry h1{
	font-size:18px;
	margin-bottom:10px;
}

.dashboard h1{
	margin:5px 0px;
}

.logentry h1 em{
	font-size:18px;
	font-weight:bold;
}

.slider{
	padding-left:20px;
}

.slider span.label{
	font-size:15px;
	font-weight:bold;
	float:left;
	display:block;
	width:60%;
}

.slider span.label em.description{
	font-size:10px; 
	color:#777;
	display:block;
	font-weight:normal;
}

.slider span.label em.description em{
	background:$highlight;
}

.slider input[type="text"]{
	color:333;
	width:25px;
	height:20px;
	padding:5px;
	font-size:17px;
	font-weight:bold;
	
	float:left;
	margin-left:10px;
	text-align:center;
	
  	border-radius: 3px;
  	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: inset 1px 1px #ddd;
  	-moz-box-shadow: inset 1px 1px #ddd;
  	-webkit-box-shadow: inset 1px 1px #ddd;

	background: #edf5f5;
	background: -moz-linear-gradient(bottom, #edf5f5 0%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #edf5f5));
	background: -webkit-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#edf5f5',GradientType=0 );	
}

.happinessScaleSlider{
	display:inline-block !important;
}

.slider .sliderValue{
	color:#777;
	font-size:10px;
	display:inline-block !important;
	border:solid 0px #ddd;
	vertical-align:middle;
	margin:0px 10px
}




.notesHeader{
	text-align:center;
	margin-top:10px;
}

.notesHeader span{
	font-weight:bold;
	display:inline-block;
	vertical-align:top;
	margin:0px 5px 5px 5px;
}

.logentry .notes{
	text-align:center;
}
.logentry .notes textarea{
	color:777;
	width:90%;
	height:100px;
	padding:5px;
	font-size:14px;
	font-family: Arial, Gill Sans, Arial;
	letter-spacing:0.03em;
	
	
	margin:auto;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: inset 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px #ddd;
	-webkit-box-shadow: inset 1px 1px #ddd;
	border:solid 1px #ddd;
	
	background: #f8f8f8;
	/**
	background: -moz-linear-gradient(bottom, #edf5f5 0%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #edf5f5));
	background: -webkit-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	background: linear-gradient(top, #fefefe 0%, #edf5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#edf5f5',GradientType=0 );
	**/
}








/** dashboard styles **/

.yAxis.y1Axis .tickLabel{
	border:solid 0px $red-top;
	margin-right:5px !important;
}
.tickLabel{
	font-size:8px;
	color:#777;
}

.legendLabel{
	font-size:9px;
	color:#777;
}

.legendColorBox div div{
	width:3px !important;
	height: 0 !important;
	border-width:2px !important;
}


.dashboard .fc-day-number{
	font-size:9px !important;
	color:#777 !important;
}

.dashboard .fc-widget-header{
	font-size:9px !important;
	font-weight:bold !important;
	color:#555 !important;
}


#dashleft{
	width:510px; 
	height:260px; 
	display:none; 
	float:left; 
	padding:10px; 
	background:#f4f4f4; 
	border:solid 1px #ebeaea
}
#calendar{
	width:200px; 
	height:240px; 
	background:#f8f8f8; 
	padding:10px;
	border:solid 0px #fff
}

.statsWrapper{ 
	margin:25px auto;
	padding:10px; 
	background:#f4f4f4; 
	border:solid 1px #ebeaea
}

.stats{
	width:350px;
	background:#f8f8f8; 
	padding:15px;
	border:solid 0px #fff
}

.stats.best{
	float:left;
}

.stats.worst{
	float:right;
}

.stats h2{
	font-size:22px;
	margin:5px 0px;
	padding:0px;
	line-height:1.0em;
}
.stats.best h2{
	color:$blue-dark;
}
.stats.worst h2{
	color:$red-dark;
}

.stats p{
	font-size:10px;
	color:#777
}

.stats table{
	width:100%;
	margin-top:10px;
}

.stats table tr{
	border-bottom:solid 1px #f1f1f1;
	border-top:solid 1px #f1f1f1;
}

.stats table td.virtue{
	font-size:15px;
	padding:4px;
}
.stats table td.percent{
	font-size:17px;
	color:#333;
	font-weight:bold;
	text-align:right;
}

.stats table td.percent em{
	font-size:10px;
	display:inline-block;
	vertical-align:top;
	color:#777;
	margin:2px 0px 0px 5px;
}



.dashboard .fc-button-content{
	font-size:8px !important;
	text-transform:uppercase;
	letter-spacing:0.03m;
}

.fc-state-down .fc-button-content{
	color:#fff !important;
}

.dashboard .fc-event-inner{
	text-align:center;
}

.dashboard .fc-event-inner span{
	font-size : 10px;
	font-weight:bold;
	text-shadow: 0px 1px 1px $blue-dark;
	letter-spacing:0.04em;
	color:#fff !important;
	text-align:center !important;
	display:inline-block;
}

.ui-tooltip{
	line-height:1.5em !important;
}



.qtiptitle{
	font-weight:bold;
	color:#ddd;
	text-shadow:0px 1px 1px #111;
	display:block;
}

.highlight{
	background:$highlight;
}

.qtipstat{
	color:#b5b5b5;
	font-size:11px;
	display:inline-block;
	margin:2px 4px;
	text-shadow:0px 1px 1px #111;
}
.qtipstat em{
	font-size:12px;
	font-weight:bold;
	color:$highlight ;
	color:#f8f8f8 !important;
}




h3{
	margin:0px;
	color:#333;
	font-size:15px;
	font-weight:bold;
	display:inline-block;
}

h3 span{
	font-size:9px;
	color:#777;
	margin-left:10px;
	font-weight:normal;
	display:inline-block !important;
}


